<ion-view view-title="Inicio">
<ion-nav-bar class="bar-jesuita"></ion-nav-bar>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Resumo de Chamados</div>
      <div class="item item-body">
        <div>
          Bem Vindo Usuário, 
          <p>Existem <b>3</b> chamados em sua reponsabilidade. </p>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Noticias</div>
      <div class="item item-body">
        <div>
          Aqui pode ser adicionado noticias ou avisos.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>