<ion-view view-title="Configuração">
<ion-nav-bar class="bar-jesuita"></ion-nav-bar>
  <ion-content>
    <div class="list list-inset">
  		<h4 class="title">Alterar Senha</h2>
  		<label class="item item-input">
    		<input type="text" placeholder="Senha Atual">
  		</label>
  		<label class="item item-input">
    		<input type="text" placeholder="Nova Senha">
  		</label>
  		<label class="item item-input">
    		<input type="text" placeholder="Confirmar Nova Senha">
  		</label>
  		<button class="button button-block button-jesuita">
        	Alterar Senha
      	</button>      	
	</div>
	<button class="button button-block button-stable">
        	Sair da Conta
    </button>
  </ion-content>
</ion-view>
